<p>dynamic-dialog-form works!</p>
<div class="dialog-form-container">
    <form [formGroup]="dialogForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" pInputText formControlName="name" />
        <!-- <div *ngIf="dialogForm.get('name').invalid && dialogForm.get('name').dirty" class="error-message">
          Name is required.
        </div> -->
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" pInputText formControlName="email" />
        <!-- <div *ngIf="dialogForm.get('email').invalid && dialogForm.get('email').dirty" class="error-message">
          Please enter a valid email address.
        </div> -->
      </div>
  
      <!-- Add more form fields as needed -->
  
      <div class="dialog-buttons">
        <!-- <button type="button" pButton label="Cancel" (click)="cancelDialog()"></button> -->
        <button type="submit" pButton label="Submit" [disabled]="dialogForm.invalid"></button>
      </div>
    </form>
  </div>
  