#wrapper{
    .upload-image{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .saveImage{
            cursor: pointer;
            color: rgb(53, 53, 203)
        }
        button{
            margin-top: 40px;
            margin-bottom: 40px;
            border: .9px solid rgb(146, 141, 141);
            padding: 5px;
        }
    }
    .images{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .videos{
        button{
            background: none;
            border: none;
            font-size: 20px;
            margin: 0px;
           a{
            text-decoration: none;
           }
        }
    }
}