<div #imgDiv class="img">
  <input type="file" (change)="onFileSelected($event)">
  <button (click)="uploadVideo()">Upload Video</button>
  <h1>The video element</h1>

  
  <video src="data https://noqu.s3.amazonaws.com/1690268840072_video%20%281080p%29.mp4?AWSAccessKeyId=AKIAVNJBABBZGSGQ4TX3&Expires=1690286087&Signature=pCEoV3qFu%2F%2Fh0BKAAPplzOZlQ0Y%3D" autoplay controls width="600" height="400">
    <source>
  </video>

  <div class="" *ngFor="let element of data">
    <h1>{{element.id}}</h1>
    <video [id]="element.id" [src]="element.videoUrl" autoplay controls width="600" height="400">
      <source>
    </video>
  </div>

</div>